<!-- views/users/show.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Pantry</h1>
    <ul>
        <% if (user.foods.length > 0) { %>
            <% user.foods.forEach(food => { %>
                <li><%= food.name %></li>
            <% }) %>
        <% } else { %>
            <li>No items in the pantry</li>
        <% } %>
    </ul>
    <a href="/users">Back to Community</a>
</body>
</html>